@font-face{
    font-family:"single-fighter-regular";
    src:url("https://dafonttop.com/wp-data/s/125/12125/file/SingleFighter-Yz3qL.otf") format("woff"),
    url("https://dafonttop.com/wp-data/s/125/12125/file/SingleFighter-Yz3qL.otf") format("opentype"),
    url("https://dafonttop.com/wp-data/s/125/12125/file/SingleFighter-Yz3qL.otf") format("truetype");
}

body {
    background-image: url(../img/battlefield.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}


.character_img{
    width: 207px ;
    height: auto ;
    object-fit: cover;
    border: 2px solid burlywood;
    border-radius: 30%;
}

h1{
    font-family:"single-fighter-regular";
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

h5{
    color: aliceblue;
}

p{
    text-align: center;
    margin-top: 10%;
    font-size: large;
}

.col-md-12{
    margin-top: 40px;
}

.validbtn{
    background-color: #fff;
}

.character_img:hover{
background-color: rgb(189, 159, 148);
border: 4px solid rgb(131, 26, 12);
cursor: pointer;
}

.d-block{
    margin-left: 33%;
}